<%- include('partials/header') %>
        <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/cadastro/cadastro.html" />
        <link rel="stylesheet" href="/css/editarAluno.css">
    </head>
<body>
    
    
<%- include('partials/navBar') %>
<%- include('partials/bikeGif') %> 

    <div class="aluno">
        <div class="container" id="aluno">
            <div class="col s12 m12 l12 center-align">
                <img src="<%= aluno.img %>" alt="<%= aluno.nome %>" class="responsive-img">
            </div>

            <div class="col s12 m12 l6">
                <form id="form" id="form" action="/home/alunos/editar/<%= aluno.id %>?_method=PUT" method="post">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="nome" id="name" type="text" data-error=".errorTxt1" value="<%= aluno.nome %>">
                            <label for="nome">Nome</label>
                            <div class="errorTxt1 right-align"></div>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input name="email" id="email" type="email" data-error=".errorTxt2" value="<%= aluno.email %>">
                            <label for="email">E-mail</label>
                            <div class="errorTxt2 right-align"></div>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">call</i>
                            <input name="telefone" type="tel" id="tel" data-error=".errorTxt3" value="<%= aluno.telefone %>">
                            <label for="telefone">Celular</label>
                            <div class="errorTxt3 right-align"></div>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">directions_run</i>
                            <input name="meta" type="text" class="form-control" data-error=".errorTxt4" value="<%= aluno.meta %>">
                            <label for="meta">Meta</label>
                            <div class="errorTxt4 right-align"></div>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">directions_run</i>
                            <input name="metaFeita" type="text" class="form-control" data-error=".errorTxt4" value="<%= aluno.metaFeita%>">
                            <label for="metaFeita">Meta Restante</label>
                            <div class="errorTxt4 right-align"></div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <div class="input-field">
                                    <a href="/home/alunos">
                                        <span class="btn waves-effect waves-light">
                                     Cancelar
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="input-field">
                                    <button id="btn" class="btn waves-effect waves-light right submit" type="submit" name="action">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>>