        <%- include('partials/header') %>
        <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/financas/financas.html" />
        <link rel="stylesheet" href="/css/financas.css">
    </head>
<body>
    <%- include('partials/navBar') %>
    <%- include('partials/bikeGif') %>

        
        <span id="pagos" style="display: none;"><%=pagos%></span>
        <span id="pendentes" style="display: none;"><%=pendentes%></span>

        <div class="container">
        <div class="col s12 m12 quadrado" style="margin-bottom: 0;">
            <div id="alunos"><h2>JUNHO/2020</h2></div>                                    
        </div>
   

                <div class="row" id="grafico">
                    <div class="col s12 m12 l7">
                    <!-- <canvas id="myChart" width="400" height="300"></canvas> -->
                    <canvas id="doughnut-chart" width="800" height="700"></canvas>
                </div>

                    <div class="col s12 m12 l5">
                        <div class="cards">
            
                            <div class="card">
                                <div>
                                    <i class="material-icons background-round mt-5">attach_money</i>
                                </div>
                                <div class="right-align">
                                    <h5 class="white-text">R$ <%=pagos%></h5>
                                    <p class="white-text">Recebido</p>
                                </div>
                            </div>
                        <div class="card2">
                            <div>
                                <i class="material-icons background-round mt-5">attach_money</i>
                            </div>
                            <div class="right-align">
                                <h5 class="white-text">R$ <%=pendentes%></h5>
                                <p class="white-text">A Receber</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                </div>
                </div>
         
                
               
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/finacas.js"></script>

    <%- include('partials/footer') %>
    <%- include('partials/rodape') %>


    <script>
         $('.dropdown-trigger').dropdown();
    </script>