        <%- include('partials/header') %>
        <link rel="canonical" href="https://highperformance.herokuapp.com/pages/entrar/login.html" />
        <link rel="stylesheet" href="/css/login.css">
    </head>
<body>
    
    <%- include('partials/navBar') %>
    <%- include('partials/bikeGif') %> 

    <div class="row">

        <div class="col s12 m11 l5" id="login">
            <% if(menssage != '') { %>
                
                       <div class="card-panel " style="color: red;font-size: 18px;text-align: center;border: 1px solid red;border-radius: 15px;font-weight: bold;padding: 10px;background: transparent;"><%- menssage%></div>
                   
               
               <% } %>
            <h1>Faça seu Login</h1>

            <form id="form" action="/login" method="POST">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>

                    <label for="email">E-mail</label>
                    <input name="email" id="email" type="email" data-error=".errorTxt1">                    

                    <div class="errorTxt1 right-align"></div>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock_outline</i>
                    <label for="senha">Senha</label>
                    <input name="senha" id="senha" type="password" data-error=".errorTxt2">                    
                    <div class="errorTxt2 right-align"></div>
                </div>
                <div class="input-field">
                    <button id="btn" class="btn waves-effect waves-light right submit" type="submit" name="action">Entrar</button>
                </div>
            </form>

            <div class="cadastro">
                <div class="input-field">
                    <a href="/cadastro">
                        <p class=" waves-effect waves-light black-text cad" type="submit" name="action">
                            <i class="material-icons">arrow_forward</i>Não tenho cadastro</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m l7">
            <img class="responsive-img bannerimg" src="/img/login.png" alt="Banner Login" id="imgLogin">
        </div>
    </div>


    <%- include('partials/footer') %>

