<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sobre</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site voltado para educadores físicos gerenciar dados do alunos que utilizam o aplicativo Strava. Conseguingo assim, organizar suas finanças, agendas, monitoramento dos alunos e outros.">
    <link rel="shortcut icon" href="/img/Iconlogo.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/sobre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/sobre/sobre.html" />
</head>

<body>
    <div class="center-align loader">
        <img src="/img/bike.svg" alt="Loader" class="responsive-img">
    </div>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #ffffff white">
                <!-- Logo -->
                <a href="/" class="brand-logo"><img class="responsive-img" src="/img/logo.png" alt="Logo da Pagina" style="width: 300px;"></a>
                </a>

                <!-- Ícone para abrir no Mobile -->
                <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                    <i class="material-icons black-text">menu</i>
                </a>

                <ul id="navbar-items" class="right hide-on-med-and-down">
                    <li><a href="/" class="black-text">Home</a></li>
                    <li><a href="#" class="orange-text">Sobre</a></li>
                    <li><a href="/login" class="black-text">Entrar</a></li>
                    <li><a href="/cadastro" class="black-text">Registrar</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Menu Mobile -->
    <ul id="mobile-navbar" class="sidenav">
        <li><a href="/">Início</a></li>
        <li><a href="#" class="orange-text">Sobre</a></li>
        <li><a href="/login" class="black-text" aria-label="Entrar">Entrar</a></li>
        <li><a href="/cadastro" class="black-text">Registrar</a></li>
    </ul>


    <!-- SOBRE -->
    <div id="sobre">
        <div class="row">
            <div class="col s12 m12 l6">
                <p>Com o <span>High Performance</span> você pode monitorar todos os dados do seus alunos que estão utilizando o aplicativo <img src="/img/strava.png" alt="">, marcar aulas, ter um gestão dos seus pagamentos, lista de presença, entre
                    outros. Tudo isso apenas em um só lugar.
                </p>
            </div>
            <div class="col s12 m12 l6" id="ilustracao">
                <img class="responsive-img" src="/img/atividades.png" alt="Ilustração">
            </div>
        </div>
    </div>


    <!-- TIME -->
    <div class="container center-align" id="tituloTime">
        <h2>NOSSO TIME</h2>
    </div>


    <div id="time">
        <div class="row ">
            <div class="container">

                <% for (membro of equipe) { %>
                <div class="col s12 m6 l6">
                    <div id="profile-card" class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/8.png" alt="user bg">
                        </div>
                        <div class="card-content">
                            <img src="<%= membro.img %>" alt="membro" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2">
                            <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                                <i class="material-icons">add</i>
                            </a>
                            <span class="card-title activator grey-text text-darken-4"><%= membro.nome %></span>
                            <p>
                                <i class="material-icons">perm_identity</i><%= membro.funcao %></p>
                            <p>
                                <i class="material-icons">code</i><a href="<%= membro.site %>" class="black-text" target="_blank" rel="noopener">GitHub</a></p>
                            <p>
                                <i class="material-icons">email</i> <%= membro.email %></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= membro.nome %>
                                <i class="material-icons right">close</i>
                            </span>
                            <p>Mais informações.</p>
                            <p>
                                <i class="material-icons">perm_identity</i><%= membro.funcao %></p>
                            <p>
                                <i class="material-icons">code</i><a href="<%= membro.site %>" class="black-text" target="_blank" rel="noopener">GitHub</a></p>
                            <p>
                                <i class="material-icons">email</i> <%= membro.email %>
                            </p>
                            <p>
                            </p>
                            <p>
                                <i class="material-icons">airplanemode_active</i> <%= membro.location %>
                            </p>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>

                <% } %>

            </div>
        </div>


        <!-- BOTAO -->
        <div class="container center-align" id="tituloBtn">
            <h2>Faça parte da nossa equipe!</h2>
        </div>





        <div class="container" id="form">
            <div class="col s12 m12 l6">
                <div>
                    <div class="row">
                        <form action="/sobre" class="col s12" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="name" type="text" name="nome" class="validate">
                                    <label for="name">Nome</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" name="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">archive</i>
                                    <input id="cv" type="file" class="validate" name="file">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">question_answer</i>
                                    <textarea id="message" class="materialize-textarea validate" name="message" length="120"></textarea>
                                    <label for="message">Menssagem</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn waves-effect waves-light right orange" type="submit" >Enviar
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!-- FOOTER -->
    <footer class="page-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">HIGH PERFORMANCE</h5>
                    <p class="white-text text-lighten-4">Monitores os seus alunos.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="white-text text-lighten-3" href="../../index.html">Home</a></li>
                        <li><a class="white-text text-lighten-3" href="#">Sobre</a></li>
                        <li><a class="white-text text-lighten-3" href="../entrar/login.html" aria-label="Entrar">Entrar</li>
                        <li><a class="white-text text-lighten-3" href="../cadastro/cadastro.html">Registrar</a></li>
                    </ul>
                </div>
                <div class="col l1 s4 right">
                    <a href="#top" class="glyphicon glyphicon-chevron-up  tooltipped" data-position="left" data-tooltip="Voltar ao topo!"><img src="../../img/up.png" alt="Voltar ao topo"></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container white-text">
                © 2020 High Performance Copyright
                <a class="white-text text-lighten-4 right" href="https://logomakr.com">Created my free logo at
                    LogoMakr.com</a>
            </div>
        </div>
    </footer>


    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/topo.js"></script>
    <script src="/js/loader.js"></script>
</body>

</html>