        <%- include('partials/header') %>
        <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/treino/treino.html" />
        <link rel="stylesheet" href="/css/treino.css">
    </head>
<body>
    
    <%- include('partials/navBar') %>
    <%- include('partials/bikeGif') %>

    <div class="container">
        <div id="perfil">
            <div class="row">
                <div class="col s12 m6 l3">
                    <img src="<%= aluno.img %>" alt="" width="100" height="115">
                </div>

                <div class="col s12 m6 l9 left-align">
                    <h4>
                        <%= aluno.nome %>
                    </h4>
                </div>
            </div>

            <div class="col s12 m12 l12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">add</i>Mais informações</div>
                        <div class="collapsible-body">
                            <p>E-mail: <%= aluno.email %></p>
                            <p>Telefone: <%= aluno.telefone %></p>
                            <p>
                                <a href="/home/alunos/editar/<%=aluno.id%>" class="black-text"><i class="material-icons">create</i>Editar dados</a>
                            </p>
                            <a class="waves-effect waves-light btn red modal-trigger" href="#modal1">Deletar aluno</a>

                            <div id="modal1" class="modal">
                                <div class="modal-content center-align">
                                  <h4>Tem certeza que deseja excluir <%= aluno.nome %></h4>
                                  <p>Ao clicar em confirmar o aluno vai ser removido definitivamente do sistema!</p>
                                </div>
                                <div class="modal-footer">
                                    
                                  <a href="#!" class="modal-close waves-effect waves-green btn-flat red-text">
                                      <form action="/home/alunos/deletar/<%=aluno.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                          <button id="btnRemover" class="white-text" type="submit">Confirmar</button>
                                      </form>
                                  </a>
                                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                                </div>
                              </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="atividades">
            <div class="col s12 m12 l12 center-align" id="titulo">
                <h3>ATIVIDADES</h3>
            </div>

            <div class="col s12 m12 l6 left-align" id="subtitulo">
                <p>Esta semana</p>
            </div>

            <div class="center-align" id="meta">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h4>Meta: <%= aluno.meta %> km </h4>
                    </div>
                    <div class="col s12 m6 l6">
                        <h4>Meta restante: <%= aluno.metaFeita%> km</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../js/treino.js"></script>
    
    <%- include('partials/footer') %>
    <%- include('partials/rodape') %>