        <%- include('partials/header') %>
        <link rel=”canonical” href="https://highperformance.herokuapp.com/pages/treino/treino.html" />
        <link rel="stylesheet" href="/css/treino.css">
    </head>
<body>
    
    <%- include('partials/navBar') %>
    <%- include('partials/bikeGif') %>

    <div class="container">
        <div id="perfil">
            <div class="row">
                <div class="col s12 m6 l3">
                    <img src="<%= aluno.img %>" alt="" width="100" height="115">
                </div>

                <div class="col s12 m6 l9 left-align">
                    <h4>
                        <%= aluno.nome %>
                    </h4>
                </div>
            </div>

            <div class="col s12 m12 l12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">add</i>Mais informações</div>
                        <div class="collapsible-body">
                            <p>E-mail: <%= aluno.email %></p>
                            <p>Telefone: <%= aluno.telefone %></p>
                            <p>
                                <a href="/home/alunos/editar/<%=aluno.id%>" class="black-text"><i class="material-icons">create</i>Editar dados</a>
                            </p>
                            <a class="waves-effect waves-light btn red modal-trigger" href="#modal1">Deletar aluno</a>

                            <div id="modal1" class="modal">
                               <div class="modal-content center-align">
                                  <h4>Tem certeza que deseja excluir <%= aluno.nome %>?</h4>
                                  <p>Ao clicar em confirmar o aluno vai ser removido definitivamente do sistema!</p>
                                </div>
                                <div class="modal-footer">
                                    
                                  <a href="#!" class="modal-close waves-effect waves-green btn-flat red-text">
                                      <form action="/home/alunos/deletar/<%=aluno.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                          <button class="white-text btnRemover" type="submit">Confirmar</button>
                                      </form>
                                  </a>
                                </div>
                              </div>
                              </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="atividades">
            <div class="col s12 m12 l12 center-align" id="titulo">
                <h3>ATIVIDADES</h3>
            </div>

            <div class="col s12 m12 l6 left-align" id="subtitulo">
                <p>Esta semana</p>
            </div>

            <div class="center-align" id="meta">
                <% if(aluno.metaFeita == undefined){ %>
                    <div class="col s12 m12 l12">
                        <h4>Meta: <%= aluno.meta %> km </h4>
                    </div>
                <% } else{ %>  
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h4>Meta: <%= aluno.meta %> km </h4>
                    </div>
                    <div class="col s12 m6 l6">
                        <h4>Meta restante: <%= aluno.metaFeita%> km</h4>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="collapsible popout" id="mensalidade">
            <% if(mensalidades == ""){ %>
                    <li></li>
              <% } else{ %>  
                <li>
                    <div class="collapsible-header"><i class="material-icons">event</i>Mensalidades</div>
                    <div class="collapsible-body">
                        <table class="striped highlight centered responsive-table">
                            <thead>
                              <tr>
                                  <th>Data</th>
                                  <th>Valor</th>
                                  <th>Status</th>
                                  <th>Editar</th>
                                  <th>Deletar</th>
                              </tr>
                            </thead>
                    
                            <tbody>
                            <% for (mensalidade of mensalidades) { %>
                              <tr>
                                <td><%=mensalidade.mes_ref%>/<%=mensalidade.ano%></td>
                                <td><%=mensalidade.valor%></td>
                                <td>

                                    <% if(mensalidade.pago == 0){ %>
                                            <i class="material-icons red-text">close</i>
                                    <% } else{ %>  
                                            <i class="material-icons green-text">check</i>
                                    </td>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/home/mensalidade/editar/<%=mensalidade.id%>"> 
                                        <i class="material-icons black-text">create</i>
                                    </a>
                                </td>
                                <td>
                                    <form action="<%=mensalidade.id%>">
                                       <a class="black-text  modal-trigger" href="#modal2"><i class="material-icons">delete</i></a> 
                                    </form>   
                                </td>
                              </tr>
                              <% } %>
                              
                            </tbody>
                          </table>
                          <div id="modal2" class="modal">
                            <div class="modal-content center-align">
                                <h4>Tem certeza que deseja excluir?</h4>
                                <p>Ao clicar em confirmar a mensalidade vai ser removido definitivamente do sistema!</p>
                              </div>
                              <div class="modal-footer">
                                  
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat red-text">
                                    <form action="/home/mensalidade/<%=mensalidade.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                        <button  class="white-text btnRemover" type="submit">Confirmar</button>
                                    </form>
                                </a>
                              </div>
                          </div>
                    </div>
                  </li>
              <% } %>
            <li>

              <div class="collapsible-header"><i class="material-icons">create</i>Cadastra nova mensalidade</div>
              <div class="collapsible-body">
                  <form action="/home/mensalidade/<%=aluno.id%>" method="POST" id="formCadMensal">
                      <div class="row">
                        <div class="col s6">
                            <select class="browser-default" id="mes" name="mes" data-error=".errorTxt1">
                                <option value="" disabled selected>Selecione o mês</option>
                                <option value="Janeiro">Janeiro</option>
                                <option value="Fevereiro">Fevereiro</option>
                                <option value="Março">Março</option>
                                <option value="Abril">Abril</option>
                                <option value="Maio">Maio</option>
                                <option value="Junho">Junho</option>
                                <option value="Julho">Julho</option>
                                <option value="Agosto">Agosto</option>
                                <option value="Setembro">Setembro</option>
                                <option value="Outubro">Outubro</option>
                                <option value="Novembro">Fevereiro</option>
                                <option value="Fevereiro">Dezembro</option>
                            </select>
                            <div class="input-field">
                                <div class="errorTxt1 left-align"></div>
                            </div>
                        </div> 
                    <div class="input-field col s6">
                        <i class="material-icons prefix">attach_money</i>
                        <input name="valor" id="valor" type="number" data-error=".errorTxt2">
                        <label for="valor">Valor</label>
                        <div class="errorTxt2 left-align "></div>
                    </div>
                </div>
                <div class="col s12">
                    <select class="browser-default" id="pago" name="pago" data-error=".errorTxt3">
                        <option value="" disabled selected>Selecione o status</option>
                        <option value="1">Recebido</option>
                        <option value="0">A receber</option>
                    </select>
                    <div class="input-field">
                        <div class="errorTxt3 right-align"></div>
                    </div>
                </div> 
                  <div class="input-field">
                    <button class="btn waves-effect waves-light right submit" type="submit" 
                        id="btnSubmit">Cadastrar</button>
                </div>
                  </form>
            </div>
            </li>
          </ul>
    </div>

    
    <script src="/js/treino.js"></script>
    
    <%- include('partials/footer') %>
    <%- include('partials/rodape') %>
    <script>
       $(document).ready(function(){
    $('.modal').modal();
  });
    </script>